html{
    scroll-behavior: smooth;
}

body *{
    margin: 0;
    padding: 0;
    font-family: "Dosis", sans-serif;
}

/* Navbar */
.navbar{
    background-color:#229954;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.navbar-brand{
    width: 20%;
    font-weight: 700;
}

.logo{
    width: 25%;
    display: inline-block;
}

button{
    display: inline-block;
    
}

.navbar-nav{
    width: 70%;
}
.collapse{
    width: 60%;
    display: inline-block;
}


.nav-link .active{
    display: inline-block;
    text-decoration: none;
}

.container-fluid{
    display: inline-block;
}

/* Carousel */
#carousel{
    width: 100%;
}

/* Quiénes somos */

#somos{
background-color: #DAF7A6;
padding: 2px;
}

h1{
    font-family: "Josefin Sans",sans-serif;
    text-align: center;
    color: #C70039;
}

i{
    background-color: #229954;
    text-align: center;
    width: 100%;
}

/* Destacados */
#destacados{
    background-color: #DAF7A6;
}

.card-text{
    color: #000;
}

/* Contacto */
#contacto{
    background-color: #DAF7A6;
    color: #C70039;
}

/* Footer */
#footer{
    background-color: #229954;
}

#footer h1{
    color: #000000;
}

#footer i{
    width: 20%;
}
